body{

background-color: white;
font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
header{

  padding-bottom: 2px;
  overflow: hidden;
}

nav {
  background-color: #f37021;
}

.heading_1{
  color: #f37021;
}

.card-deck{
  padding-top: 20px;
  #background-color: black;

}

a:hover{
  color:#f37021;
}

.card {
  background-color: #d3d3d3;
  color: black;
}

.font-italic text-left justify-content-end{
  color: #f37021;
}

.jumbotron {

  #background-image:url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-size: cover;
  background-color: #f37021;
}

.sidebar-sticky.col-md-2 {
  padding-right: 1000px;
  margin-right: 30px;
  border-right: #f37021;
}

hr{
  #border-top: 10px #d3d3d3;
  #height: 5px;
  border-color: #d6d6d6;
  padding: 20px 0;
	margin-right: 30px;
}
